---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api//chat.postMessage
    body:
      encoding: UTF-8
      string: token=SLACK_TOKEN&text=Hey%20I%20can%20post%20messages%21&channel=channel
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 79b63868-ba88-4fb9-898e-6a5d2d670e00
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - chat:write:bot
      X-Via:
      - haproxy-www-ejbj
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"channel_not_found"}'
  recorded_at: Wed, 11 Sep 2019 18:10:29 GMT
- request:
    method: post
    uri: https://slack.com/api//chat.postMessage
    body:
      encoding: UTF-8
      string: token=SLACK_TOKEN&text=Hey%20I%20can%20post%20messages%21&channel=random
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - c222ff7d-c6f6-4bfb-b8aa-101193c98c36
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - chat:write:bot
      X-Via:
      - haproxy-www-z42f
    body:
      encoding: UTF-8
      string: '{"ok":true,"channel":"CMUR2JTNX","ts":"1568225473.003600","message":{"type":"message","subtype":"bot_message","text":"Hey
        I can post messages!","ts":"1568225473.003600","username":"Leaves - Samantha
        - API Project","bot_id":"BN5RER7EG"}}'
  recorded_at: Wed, 11 Sep 2019 18:11:13 GMT
- request:
    method: post
    uri: https://slack.com/api//chat.postMessage
    body:
      encoding: UTF-8
      string: token=SLACK_TOKEN&text=This%20post%20should%20not%20work&channel=invalid-channel
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - b09ecc7c-a731-4308-8cef-99f88ae45b6a
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write:bot
      X-Accepted-Oauth-Scopes:
      - chat:write:bot
      X-Via:
      - haproxy-www-qt4f
    body:
      encoding: UTF-8
      string: '{"ok":false,"error":"channel_not_found"}'
  recorded_at: Wed, 11 Sep 2019 20:04:09 GMT
recorded_with: VCR 5.0.0
